@font-face{
  font-family: vMeeting;
  src: url("~@/assets/fonts/RV-Harmonia-Regular.ttf");
}
@font-face{
  font-family: vMeeting;
  src: url("~@/assets/fonts/RV-Harmonia-Light.ttf");
  font-weight: 300;
}
@font-face{
  font-family: vMeeting;
  src: url("~@/assets/fonts/RV-Harmonia-SemiBold.ttf");
  font-weight: 600;
}
@font-face{
  font-family: vMeeting;
  src: url("~@/assets/fonts/RV-Harmonia-Bold.ttf");
  font-weight: bold;
}