[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
alembic = "*"
marshmallow = "*"
psycopg2 = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
ipython = "*"
include = "*"
sqlalchemy = "*"
flask-jwt = "*"
pyjwt = "*"
uwsgi = "*"
flask-cors = "*"
celery = "*"
redis = "*"
envelopes = "*"
xlwt = "*"
xlrd = "*"
python-dotenv = "==0.10.1"

[requires]
python_version = "3.6"
