.top-bar{
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  label{
    margin-right: 20px;
    margin-left: 20px;
    color: #6979F8;
    font-weight: bold;
  }
}